{% extends "base.html" %}
{% block content %}

<h1 class="text-center mt-5">
    Conócenos
</h1>
<!-- Diana -->
<div class="container w-75 dia-primary mt-5 rounded shadow" id="conocenos">
    <div class= "row ">
        <div class="col dia col-md-3 col-lg-3 col-xl-3 rounded">
        </div>
        <div class="col bg-white p-5 rounded">
            <div class="text-right">
                <img src="../static/images/LowlsG.png" width="80"alt="">
            </div>
            <h3 class="fw-bold text-center py-1">Ballesteros Valenzuela Diana Laura</h3>
            
            <p class="h5"><br> Estudiante de LCC</p>
            
        </div>
    </div>
</div>

<!-- Pablo -->
<div class="container w-75 pab-primary mt-5 rounded shadow">
    <div class= "row ">
        <div class="col pab col-md-3 col-lg-3 col-xl-3 rounded">
        </div>
        <div class="col bg-white p-5 rounded">
            <div class="text-right">
                <img src="../static/images/LowlsG.png" width="80"alt="">
            </div>
            <h3 class="fw-bold text-center py-1">Ibarra Medrano Jose Pablo</h3>
                <p 
                class="h5"> <br> Estudiante de LCC
                </p>
        </div>
    </div>
</div>

<!-- Martin -->
<div class="container w-75 mar-primary mt-5 rounded shadow">
    <div class= "row ">
        <div class="col mar col-md-3 col-lg-3 col-xl-3 rounded">
        </div>
        <div class="col bg-white p-5 rounded">
            <div class="text-right">
                <img src="../static/images/LowlsG.png" width="80"alt="">
            </div>
            <h3 class="fw-bold text-center py-1">Vega Noriega Martin Jose</h3>
                <p class="h5"> <br> Estudiante de LCC
                </p>
            
        </div>
    </div>
</div>

<!-- Guillermo -->
<div class="container w-75 gui-primary mt-5 rounded shadow">
    <div class= "row ">
        <div class="col gui col-md-3 col-lg-3 col-xl-3 rounded">
        </div>
        <div class="col bg-white p-5 rounded">
            <div class="text-right">
                <img src="../static/images/LowlsG.png" width="80"alt="">
            </div>
            <h3 class="fw-bold text-center py-1">Velazquez Coronado Guillermo</h3>
            
                <p class="h5"><br> Estudiante de LCC
                </p>
            
        </div>
    </div>
</div>



{% endblock %}