{% extends "base.html" %}

{% block content %}

<div id="App" class="row pt-5 justify-content-center">

    {# FORM #}
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h4>¿En qué evento estas pensando?</h4>
            </div>
            <form id="product-form" class="card-body justify-content-center"
             method="POST" action="{{ url_for('posts.create_post') }}">
                
                {# NAME OF THE EVENT #}
                <div class="form-group">
                    <input required type="text" id="name" name="name" placeholder="Nombre del evento*" class="form-control">
                </div>

                {# EVENT DESCRIPTION FIELD #}
                <div class="form-group">
                    <textarea required class="form-control" id="description" name="description" rows="3" cols="10"
                    placeholder="Agregue una descripción del evento*"></textarea>
                </div>

                {# EVENT DATE FIELD  (DAY AND MONTH) #}
                <div class="form-group">
                    <input required type="text" id="date" name="date" placeholder="Fecha del evento*" class="form-control">
                </div>

                {# EVENT TIME FIELD #}
                <div class="form-group">
                    <input type="text" id="time" name="time" placeholder="Especifique hora del evento" class="form-control">
                </div>

                {# EVENT TIME FIELD #}
                <div class="form-group">
                    <input type="text" id="duration" name="duration" placeholder="Especifique la duración del evento" class="form-control">
                </div>

                {# PLACE OF THE EVENT FIEL #}
                <div class="form-group">
                    <input required type="text" id="place" name="place" placeholder="Lugar del evento*" class="form-control">
                </div>

                {# EVENT CAPACITY (IF ANY) FIELD #}
                <div class="form-group">
                    <input type="text" id="capacity" name="capacity" placeholder="Capacidad de personas" class="form-control">
                </div>

                {# CONTACT FIELD #}
                <div class="form-group">
                    <input type="text" id="contact" name="contact" placeholder="Proporcione algun contacto para dudas..."
                        class="form-control">
                </div>
                
                {# EVENT DUE DATE #}
                <div class="form-group">
                    <label for="due_date">Indique la fecha en la que debe eliminarse la publicación:</label>
                    <input required type="date" id="due_date" name="due_date" class="form-control">
                </div>

                {# CHECKBOX TO MARK A POST AS PRIVATE #}
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="privateCheck" name="privateCheck" >
                    <label class="form-check-label" for="privateCheck">Crear como privada</label>
                </div>

                {# SUBMIT BUTTON #}
                <input type="submit" value="Publicar" class="btn btn-primary btn-block">
            </form>
        </div>
    </div>

    {#<div id="product-list" class="col-md-8"></div>#}
</div>

<script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1;
    var yyyy = today.getFullYear();

    if (dd < 10) {
        dd = '0' + dd;
    }

    if (mm < 10) {
        mm = '0' + mm;
    }

    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("due_date").setAttribute("min", today);
</script>

<style>
    .description {
      resize: none;
      height: 100px;
      width: 350px;
    }
</style>

{% endblock %}