{% extends "base.html" %}

{% block content %}
<div class="cover d-flex justify-content-center align-items-center flex-column">
  <h1>
      Buhos Conectados
  </h1>
  <p>
      Publica, Descubre y Participa en eventos increibles
  </p>
  <a class="btn btn-primary" href="{{url_for('posts.create_post')}}" role="button">Publicar</a>
</div>

<br>

<div class="container mt-5">
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="alert alert-success text-center" role="alert">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}
</div>

<h3 class="text-center">Eventos recientes</h3>

<div class = "container mt-5">
  {% for post in posts %}
  <div class="card">
      <h5 class="card-header text-center">{{ post.title }}</h5>
      <div class="card-body">
        <p class="card-text"><b>Lugar: </b>{{ post.place }}</p>
        <p class="card-text"><b>Fecha: </b>{{ post.date }}</p>
        <p class="card-text"><b>Hora: </b>{{ post.time }}</p>
        <p class="card-text"><b>Description: </b>{{ post.description }}</p>

        {% if user.id == post.user_id %}
          <a href="/edit_post/{{post.id}}" class="btn btn-outline-primary">Editar publicación</a>
        {% endif %}
        {% if user.id == post.user_id or user.admin == 1 %}
        <a href="/delete_post/{{post.id}}" onclick="return confirm('¿Estás seguro?');" class="btn btn-outline-danger">Eliminar publicación</a>
        {% endif %}
      </div>
    </div>
    <br>
    {% endfor %}
</div>

</div>

{% endblock %}